{% extends "layout.html" %}
{% block head %}
<script type="text/javascript">
function download_cipher() {
    text = document.getElementById("result-public").value
    var pom = document.createElement('a');
    pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    pom.setAttribute('download', "cipher.txt");

    if (document.createEvent) {
        var event = document.createEvent('MouseEvents');
        event.initEvent('click', true, true);
        pom.dispatchEvent(event);
    }
    else {
        pom.click();
    }
}
window.onload=function(){
    document.getElementById("file").addEventListener('change', function() {
        var fr = new FileReader();
        fr.onload=function(){
          const public_key_container = document.getElementById("public_key");
          public_key_container.value = fr.result;
          //g.readOnly = true;
          //n.readOnly = true;
        }
        fr.readAsText(this.files[0]);
    });
    document.getElementById("plain-file").addEventListener('change', function() {
        var fr2 = new FileReader();
        fr2.onload=function(){
          const c = document.getElementById("plain");
          c.value = fr2.result;
          //n.readOnly = true;
        }
        fr2.readAsText(this.files[0]);
    });
}
</script>
{% endblock %}
{% block content %}
<h3>Enkripsi ECC ElGamal</h3>
{% if encrypt==False and hasil!="" %}
<div id="emsg">
  {{hasil}}
</div>
{% endif %}
{% if encrypt %}
<div id="result-group" class="form-group">
  <label for="result-public">Hasil Enkripsi</label>
  <div>
    {% if encrypt %}
    <textarea readonly
      id="result-public"
      name="result-public"
      rows="5"
      cols="70">{% for ((a, b), (c, d)) in ciphertext %}{{a}} {{b}} {{c}} {{d}}
{% endfor %}</textarea>
    {% else %}
    <textarea readonly
      id="result-public"
      name="result-public"
      rows="5"
      cols="70"></textarea>
    {% endif %}
  </div>
  {% if encrypt %}
    <button id="button-cipher" 
    type="submit" 
    value="submit" 
    class="btn btn-success"
    onclick = "download_cipher()">
  {% else %}
    <button id="button-cipher" 
    type="submit" 
    value="submit" 
    disabled
    class="btn btn-success" >
  {% endif %}
    Unduh Cipher Text
  </button>
</div>
{% else %}
<div class="col-sm-6 col-sm-offset-3">
  <form id="form" action="/ecc/enkripsi" method="POST" 
  enctype="multipart/form-data">
    <div id="plain-file-group" class="form-group">
      <label for="file">Masukkan File Plain Text (Bila Ada)</label>
      <input
        type="file"
        class="form-control"
        id="plain-file"
        name="plain-file"
      />
    </div>
    <div id="plain-group" class="form-group">
      <label for="plain">Plain Text</label>
      <input
      required
        type="text"
        class="form-control"
        id="plain"
        name="plain"
        placeholder="Masukkan Plain Teks nya"
        />
    </div>

      <h4>Kunci Publik</h4>
      <div id="file-group" class="form-group">
        <label for="file">Masukkan File Kunci Publik (Bila Ada)</label>
        <input
          type="file"
          class="form-control"
          id="file"
          name="file"
        />
      </div>
      <div id="kunci-publik-group" class="form-group">
        <label for="public_key">Kunci Publik</label>
        <input
          type="text"
          class="form-control"
          id="public_key"
          name="public_key"
          placeholder="Masukkan kunci publik (dua buah bilangan bulat non-negatif)"
        />
      </div>

      <button type="submit" value="submit" class="btn btn-success" onclick="submitaja()">
        Enkripsi
      </button>
    </form>
  </div>
{% endif %}

{% endblock %}