{% extends "layout.html" %}
{% block head %}
<script type="text/javascript">
  function do_ajax() {
    formdata = new FormData();
    formdata.append("angka_p", document.getElementById('angka_p'));
    formdata.append("angka_q", document.getElementById('angka_q'));
    formdata.append("angka_g", document.getElementById('angka_g'));
    //formdata.append("angka_p", document.getElementById('angka_p'));
    var req = new XMLHttpRequest();
    var result = document.getElementById('result');
    req.onreadystatechange = function()
    {
      if(this.readyState == 4 && this.status == 200) {
        result.innerHTML = this.responseText;
      } else {
        result.innerHTML = "Tidak ada hasil";
      }
    }

    req.open('POST', './paillier/genKey', true);
    req.setRequestHeader('content-type', 'multipart/form-data; charset=UTF-8');
    req.send(formdata);
  }
</script>
{% endblock %}
{% block content %}
<h3>Pembangkitan Kunci Paillier</h3>
  <div class="col-sm-6 col-sm-offset-3">
    <form onsubmit="return false">
      <div id="angka_p-group" class="form-group">
          <label for="angka_p">Nilai P</label>
          <input
            type="number"
            class="form-control"
            id="angka_p"
            name="angka_p"
            placeholder="Masukkan Nilai P"
            min="0"
            max="99999999"
          />
        </div>

      <div id="angka_q-group" class="form-group">
        <label for="angka_q">Nilai Q</label>
        <input
          type="number"
          class="form-control"
          id="angka_q"
          name="angka_q"
          placeholder="Masukkan Nilai Q"
          min="0"
          max="99999999"
        />
      </div>

      <div id="angka_g-group" class="form-group">
        <label for="angka_g">Nilai G</label>
        <input
          type="number"
          class="form-control"
          id="angka_g"
          name="angka_g"
          placeholder="Masukkan Nilai G"
          min="0"
          max="99999999"
        />
      </div>

      <div id="file-group" class="form-group">
        <label for="file">File</label>
        <input
          type="file"
          class="form-control"
          id="file"
          name="file"
          accept="file/*"
          onchange="previewFile()"
        />
      </div>

      <button type="submit" class="btn btn-success" onclick="addItem()">
        Submit
      </button>
      <br></br>
      <div id="result-group" class="form-group">
        <label for="result">Hasilnya adalah</label>
        <div>
          <textarea readonly
            id="result"
            name="result"
            rows="auto"
            cols="70"></textarea>
        </div>
        </div>
    </form>
</div>

{% endblock %}