{% extends "layout.html" %}
{% block content %}
<h3>Pembangkitan Kunci Paillier</h3>
{% if encrypt==False and hasil!="" %}
<div id="emsg">
  {{hasil}}
</div>
{% endif %}
  <div class="col-sm-6 col-sm-offset-3">
    <form id="form" action="/paillier/genKey" method="POST" 
    enctype="multipart/form-data">
      <div id="angka_p-group" class="form-group">
          <label for="angka_p">Nilai P</label>
          <input
          required
            type="number"
            class="form-control"
            id="angka_p"
            name="angka_p"
            placeholder="Masukkan Nilai P"
            min="0"
            max="99999999"
          />
        </div>

      <div id="angka_q-group" class="form-group">
        <label for="angka_q">Nilai Q</label>
        <input
        required
          type="number"
          class="form-control"
          id="angka_q"
          name="angka_q"
          placeholder="Masukkan Nilai Q"
          min="0"
          max="99999999"
        />
      </div>

      <div id="angka_g-group" class="form-group">
        <label for="angka_g">Nilai G</label>
        <input
        required
          type="number"
          class="form-control"
          id="angka_g"
          name="angka_g"
          placeholder="Masukkan Nilai G"
          min="0"
          max="99999999"
        />
      </div>

      <!--div id="file-group" class="form-group">
        <label for="file">File</label>
        <input
          type="file"
          class="form-control"
          id="file"
          name="file"
          accept="file/*"
          onchange="previewFile()"
        />
      </div-->

      <button type="submit" value="submit" class="btn btn-success" onclick="submitaja()">
        Submit
      </button>
      <div id="result-group" class="form-group">
        <label for="result-public">Kunci Publik (g,n)</label>
        <div>
          {% if encrypt %}
          <textarea readonly
            id="result-public"
            name="result-public"
            rows="2"
            cols="70">{{kunci_public}}</textarea>
          {% else %}
          <textarea readonly
            id="result-public"
            name="result-public"
            rows="2"
            cols="70"></textarea>
          {% endif %}
        </div>
        {% if encrypt %}
          <button id="button-public" 
          type="submit" 
          value="submit" 
          class="btn btn-success" 
          onclick="unduhkuncipublik()">
        {% else %}
          <button id="button-public" 
          type="submit" 
          value="submit" 
          disabled
          class="btn btn-success" >
        {% endif %}
          Unduh Kunci Publik
        </button>
      </div>
      <div id="result-group" class="form-group">
        <label for="result-private">Kunci Privat (λ,μ)</label>
        <div>
          {% if encrypt %}
          <textarea readonly
            id="result-private"
            name="result-private"
            rows="2"
            cols="70">{{kunci_private}}</textarea>
          {% else %}
          <textarea readonly
            id="result-private"
            name="result-private"
            rows="2"
            cols="70"></textarea>
          {% endif %}
        </div>
        {% if encrypt %}
          <button id="button-private" 
          type="submit" 
          value="submit" 
          class="btn btn-success" 
          onclick="unduhkunciprivate()">
        {% else %}
          <button id="button-private" 
          type="submit" 
          value="submit" 
          disabled
          class="btn btn-success" >
        {% endif %}
          Unduh Kunci Private
        </button>
      </div>
    </form>
</div>

{% endblock %}