{% extends "layout.html" %}
{% block head %}
<script>
function download_private() {
    text = document.getElementById("result-private").value
    var pom = document.createElement('a');
    pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    pom.setAttribute('download', "kunci_private.pri");

    if (document.createEvent) {
        var event = document.createEvent('MouseEvents');
        event.initEvent('click', true, true);
        pom.dispatchEvent(event);
    }
    else {
        pom.click();
    }
}
function download_public() {
    text = document.getElementById("result-public").value
    var pom = document.createElement('a');
    pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    pom.setAttribute('download', "kunci_public.pub");

    if (document.createEvent) {
      var event = document.createEvent('MouseEvents');
      event.initEvent('click', true, true);
      pom.dispatchEvent(event);
    }
    else {
      pom.click();
    }
}
</script>
{% endblock %}
{% block content %}
<h3>Pembangkitan Kunci RSA</h3>
<div id="result-group" class="form-group">
  <label for="result-public">Kunci Publik (e, n)</label>
  <div>
    {% if public_key is defined %}
    <textarea readonly
      id="result-public"
      name="result-public"
      rows="2"
      cols="70">{{public_key[0]}} {{public_key[1]}}</textarea>
    {% else %}
    <textarea readonly
      id="result-public"
      name="result-public"
      rows="2"
      cols="70"></textarea>
    {% endif %}
  </div>
  {% if public_key is defined %}
    <button id="button-public" 
    type="submit" 
    value="submit" 
    class="btn btn-success"
    onclick = "download_public()">
  {% else %}
    <button id="button-public" 
    type="submit" 
    value="submit" 
    disabled
    class="btn btn-success" >
  {% endif %}
    Unduh Kunci Publik
  </button>
</div>
<div id="result-group" class="form-group">
  <label for="result-private">Kunci Privat (d, n)</label>
  <div>
    {% if private_key is defined %}
    <textarea readonly
      id="result-private"
      name="result-private"
      rows="2"
      cols="70">{{private_key[0]}} {{private_key[1]}}</textarea>
    {% else %}
    <textarea readonly
      id="result-private"
      name="result-private"
      rows="2"
      cols="70"></textarea>
    {% endif %}
  </div>
  {% if private_key is defined %}
    <button id="button-private" 
    type="submit" 
    value="submit" 
    class="btn btn-success"
    onclick = "download_private()">
  {% else %}
    <button id="button-private" 
    type="submit" 
    value="submit" 
    disabled
    class="btn btn-success" >
  {% endif %}
    Unduh Kunci Privat
  </button>
</div>
<div class="col-sm-6 col-sm-offset-3">
  <form id="form" action="/rsa/genKey" method="POST" 
  enctype="multipart/form-data">
    <button type="submit" value="submit" class="btn btn-success" onclick="submitaja()">
      Bangkitkan Kunci
    </button>
  </form>
</div>

{% endblock %}